.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
}

.logo{
    width: 100px;
}
.nav-items ul{
    display: flex;
    list-style-type: none;
}
.nav-items ul li{
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}
.searchbar-container{
    height: 50px;
    align-items: center;
    text-align: center;
}
.restaurant-card-container{
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: auto; */
    gap: 30px;
    /* height: 500%; */
}
.restaurant-card{
    height: 320px;
    width: 260px;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 2px solid black;

}
.restaurant-card:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
    cursor: pointer;
}
.restaurant-card h3{
    text-align: center;
    margin-top: 0%;
}
.hotel-image img{
    width: 250px;
    height: 150px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;

    /* padding: 24px; */
    
}
.rating-container{
    margin-top: 0%;
    height: 20px;
    display: flex;
    gap: 10px;
    font-weight: bold;
    align-items: center;
}
.rating-container img{
    max-width: 25%;
    background-color: transparent;
}
.place{
    text-align: center;
    font-weight: bold;
}
.cuisine{
    text-align: center;
    font-size:medium;
}
.filter-container{
    height: 50px;
    margin: 20px;
    margin-left: 0px;
}
.filter-container button{
    height: 50px;
    cursor: pointer;
    border-radius: 7px;
}
.filter-container button:hover{
    background-color: bisque;
}